﻿@model GibixOnline.ReaderShareProject.Models.Post
@{
	ViewBag.Title = "Add";
}

<h2>Add</h2>
@using (Html.BeginForm("Create", "Post", FormMethod.Post)) {
	<table>
		<tfoot>
			<tr>
				<td>
					<button type="submit">
						Post article
					</button>
				</td>
			</tr>
		</tfoot>
		<tbody>
			<tr>
				<td>
					@Html.LabelFor(p => p.Title)<br />
					@Html.TextBoxFor(p => p.Title, new { size = 30 })
				</td>
			</tr>
			<tr>
				<td>
					@Html.LabelFor(p => p.Summary)<br />
					@Html.TextAreaFor(p => p.Summary, 3, 30, null)
				</td>
			</tr>
			<tr>
				<td>
					@Html.LabelFor(p => p.Content)<br />
					@Html.TextAreaFor(p => p.Content, 8, 30, null)
				</td>
			</tr>
			<tr>
				<td>
					@Html.CheckBox("isPublic")
					@Html.Label("isPublic", "Share this post with others?")
				</td>
			</tr>
		</tbody>
	</table>
}