﻿@model GibixOnline.ReaderShareProject.Models.User
@{
	ViewBag.Title = "Home";
}

<img src="https://secure.gravatar.com/avatar/@this.Model.EmailMD5.ToString("n")?s=128" alt="gravatar" height="128" width="128" style="float: left;" />
<div style="float: left; margin-left: 1em;">
<h2>Welcome @Model.Name!</h2>
<p>
	Since you joined @Model.Created.ToString("d") you have shared a total of @ViewBag.PostCount item@(ViewBag.PostCount == 1 ? String.Empty : "s") to your friends.
</p>
<h3>Sharing articles</h3>
@using (Html.BeginForm("Generate", "User", new { type = "feed" }, FormMethod.Post, new { @id = "feed-key" })) {
<p>
	To allow any of your friends to view your shares, you will need to give them your special feed URL.<br />
	Your current feed key is: @Model.Token.ToString("n").<br />
	We recommend using the atom feed for sharing with Google Reader users.
</p>
<p>
	Want to hide from your friends? You can <a href="#" onclick="document.getElementById('feed-key').submit(); return false;" title="Generate a new posting key">generate a new feed key</a> so the old URL will no longer be valid.<br />
	If you do this, you will need to tell your friends to update to the new URL.
</p>
}
<p>
	@Html.ActionLink("Atom 1.0", "Shares", "Feed", new { token = this.Model.Token.ToString("n"), format = "atom" }, null) | @Html.ActionLink("RSS 2.0", "Shares", "Feed", new { token = this.Model.Token.ToString("n"), format = "rss" }, null)<br />
</p>
<h3>Posting articles</h3>
@using (Html.BeginForm("Generate", "User", new { type = "posting" }, FormMethod.Post, new { @id = "posting-key" })) {
<p>
	To quickly post an article from Google Reader you need to set up Reader Share Project as a Send To destination. <br />
	Your current posting key is: @Model.PostingKey.ToString("n").<br />
	If you think your posting key was compromised you can <a href="#" onclick="document.getElementById('posting-key').submit(); return false;" title="Generate a new posting key">generate a new posting key</a>.
</p>
}
<p>
	Keeping your posting key private is very important. If someone gets your posting key, they can submit articles in your name without needing to<br />
	log in as you. If this does happen, just generate a new key. None of your existing data will be at risk if your key is compromised. If you<br />
	generate a new posting key, you will need to update your <strong>Send To</strong> link in Google Reader.
</p>
<h4>Creating a <em>Send To</em> link in Google Reader</h4>
<ol>
	<li>Sign in to <a href="http://www.google.com/reader" title="Google Reader" rel="external">Google Reader</a> and open up the Reader Settings.</li>
	<li>Click on the <strong>Send To</strong> tab.</li>
	<li>In the <strong>Don't see your favorite site?</strong> section click the <em>"Create a custom link"</em> link.</li>
	<li>
		Fill out the form with the following data:<br />
		<table>
			<tbody>
				<tr>
					<th>Name</th>
					<td>Reader Share Project</td>
				</tr>
				<tr>
					<th>URL</th>
					<td>@Request.Url.Scheme://@Request.Url.Authority/post/@Model.PostingKey.ToString("n")/share?source=${source}&amp;title=${title}&amp;url=${url}</td>
				</tr>
				<tr>
					<th>Icon URL</th>
					<td>@Request.Url.Scheme://@Request.Url.Authority/feed.png</td>
				</tr>
			</tbody>
		</table>
	</li>
</ol>
</div>