﻿@model GibixOnline.ReaderShareProject.Models.User
@{ ViewBag.Title = "Login"; }

<div class="center width50">
@using (Html.BeginForm("Login", "User", FormMethod.Post, new { @id = "login" })) {	
	@Html.ValidationSummary(true)
	<p>This site uses OpenID to authenticate our users. This allows you to use your own trusted provider and we
	never see your password.</p>
	<p>If you have never used this site before you will be directed to the account creation page after successful authentication.</p>
	<table class="form">
		<tfoot>
			<tr>
				<td colspan="2"><input type="submit" value="Continue" /></td>
			</tr>
		</tfoot>
		<tbody>
			@if (!String.IsNullOrWhiteSpace(this.ViewBag.Error)) {
			<tr><td colspan="2">@ViewBag.Error</td></tr>
			}
			<tr>
				<th>
					<label for="openId">Open ID URL:</label><br />
					<span>Please enter your Open ID URL.</span>
				</th>
				<td>
					<div><input type="url" value="" name="openId" id="openId" size="30" /></div>
				</td>
			</tr>
			<tr>
				<th></th>
				<td>
					<button type="button" onclick="openid.login('google');">Google</button>
					<button type="button" onclick="openid.login('yahoo');">Yahoo!</button>
					<button type="button" onclick="openid.login('myopenid');">myOpenID</button>
				</td>
			</tr>
		</tbody>
	</table>
}
</div>
<script type="text/javascript">
	//<![CDATA[
	var openid = {};
	(function (jQuery) {
		var $ = jQuery,
			login = $("#login"),
			providers = {
				google: "https://www.google.com/accounts/o8/id",
				myopenid: "http://myopenid.com/",
				yahoo: "http://yahoo.com/"
			},
			url = $("#openId");

		this.login = function (provider) {
			url.val(providers[provider]);
			login.submit();
		};
	}).call(openid, window.jQuery);
	//]]>
</script>