﻿@model GibixOnline.ReaderShareProject.Models.User
@{ ViewBag.Title = "Create a new account"; }

<div class="center width50">
<p>By creating an account, you are agreeing to the <a href="#/static/terms_of_service">terms of service</a>. @*<strong>Remember that this site is open to web crawlers, so people will be able to easily search your name.</strong>*@</p>
@using (Html.BeginForm("Create", "User")) {
	@Html.Hidden("openid", ViewData["OpenId"])
	@Html.ValidationSummary(true)	
	<table class="form">
		<tfoot>
			<tr>
				<td colspan="2"><input type="submit" value="Sign up" /></td>
			</tr>
		</tfoot>
		<tbody>
			<tr>
				<th style="width: 35%;">
					@Html.LabelFor(m => m.Name, "Name:")
					<span>Can be whatever you want, can't change it after (yet).</span>
				</th>
				<td style="width: 85%;">
					<div>@Html.TextBoxFor(m => m.Name, new { size = "30", @Value = ViewData["Name"] })</div>
					@Html.ValidationMessageFor(m => m.Name)
				</td>
			</tr>
			<tr>
				<th>
					@Html.LabelFor(m => m.Email, "Email:")
					<span>Required, used to merge open id accounts (eventually).</span>
				</th>
				<td>
					<div>@Html.TextBoxFor(m => m.Email, new { type = "email", size = "30", @Value = ViewData["Email"] })</div>
				</td>
			</tr>
		</tbody>
	</table>
}
</div>